<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="board1">
	<select id="selectBoard1List" resultType="kjh.board1.BoardInput" parameterType="kjh.common.SearchVO">
		SELECT BRDNO, BRDTITLE,
		BRDWRITER, DATE_FORMAT(BRDDATE,'%Y-%m-%d')
		BRDDATE , BRDHIT
		   , (SELECT COUNT(*) FROM TBL_BOARDFILE WHERE BRDNO=TB.BRDNO) FILECNT
		FROM TBL_BOARD TB
		<include refid="includeBoard"/>
		ORDER BY BRDNO DESC
		LIMIT ${rowStart-1}, 10 
	</select>

	<insert id="insertBoard1" parameterType="kjh.board1.BoardInput">
		<selectKey resultType="String" keyProperty="brdno" order="BEFORE">
            SELECT IFNULL(MAX(BRDNO),0)+1 FROM TBL_BOARD
       </selectKey>
       
		insert into
		tbl_board(brdtitle, brdwriter, brdmemo, brddate, brdhit, brddeleteflag)
		values(#{brdtitle},	#{brdwriter},#{brdmemo},now(),0,'N')
	</insert>
	
	<insert id="insertBoard1File" parameterType="kjh.common.FileVO">
		insert into tbl_boardfile(brdno,filename,realname,filesize)
		values(#{parentPK},#{filename},#{realname},#{filesize})
	
	</insert>
	
	<select id="selectBoard1One" parameterType="String"
		resultType="kjh.board1.BoardInput">
		select brdno, brdtitle, brdwriter, brdmemo,
		date_format(brddate,'%y-%m-%d') brddate
		from tbl_board
		where
		brdno=#{brdno}
	</select>

	<update id="updateBoard1" parameterType="kjh.board1.BoardInput">
		UPDATE TBL_BOARD
		SET
		BRDTITLE=#{brdtitle}
		, BRDWRITER=#{brdwriter}
		, BRDMEMO=#{brdmemo}
		WHERE
		BRDNO=#{brdno}
	</update>

	<delete id="deleteBoard1One" parameterType="String">
		DELETE
		FROM TBL_BOARD
		WHERE BRDNO=#{brdno}
	</delete>
	
	 <delete id="deleteBoard4File" parameterType="hashmap"> 
        DELETE 
          FROM TBL_BOARDFILE
         WHERE FILENO IN (
			  <foreach item="item" index="index" collection="fileno" separator=",">
		        	 ${item}
			  </foreach>  
		)	         
    </delete> 
    
	
	


	<update id="updateBoard1Read" parameterType="String">
		UPDATE TBL_BOARD
		SET BRDHIT = BRDHIT + 1
		WHERE BRDNO=#{brdno}
	</update>

<select id="selectBoard1Count" resultType="Integer" parameterType="kjh.common.SearchVO">
        SELECT COUNT(*)
          FROM TBL_BOARD
          <include refid="includeBoard"/>

</select>

<select id="selectBoard4FileList" resultType="kjh.common.FileVO" parameterType="String">
        SELECT FILENO, FILENAME, REALNAME, FILESIZE
          FROM TBL_BOARDFILE
         WHERE BRDNO=#{brdno}
         ORDER BY FILENO DESC 
    </select>



<sql id="includeBoard">
    WHERE BRDDELETEFLAG='N'
    <if test="searchKeyword!=null and searchKeyword!=''">
        <foreach item="item" index="index" collection="searchTypeArr">
            AND ${item} LIKE CONCAT('%', #{searchKeyword},'%' )
         </foreach>
    </if> 
</sql>







</mapper>